<div id="privileges">
    <div class="header">
        <h3>privileges</h3>
        <p>view privileges that you have access to in a tabular format</p>
    </div>

    <div class="table">
        <div class="table-head">
            <p>id</p>
            <p>permission</p>
            <p>granted by</p>
            <p>date</p>
        </div>

        <!-- <div class="table-row">
            <p>1</p>
            <p>apply_colour</p>
            <p class="admin">admin</p>
            <p>2024-11-01 17:52:35</p>
        </div> -->
    </div>
</div>