{% extends "layout.html" %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}

{% include 'includes/messageBar.html' %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        <div class="success">
            {% for message in messages %}
                <div id="{{ loop.index0 }}-error-popup">
                    <p>{{ message }}</p>
                    <button id="close-error-popup" class="{{ loop.index0 }}"><img src="../../../static/imgs/white-close.svg" alt="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}




<div id="thread">
    <div class="header">
        <div id="info">
            <h3>{{ thread.title }}</h3>
        </div>
        
        <div>
            <img src="../../../static/imgs/cole_pfp.jpg" alt="">
            <div>
                <!-- Todo: change class to potential superuser title -->
                <p>created by <span class="admin"><a href="">{{ thread.owner.username }}</a></span></p>
                <p>on {{ thread.format_time_created }}</p>
            </div>

            <div id="thread-ui">
                <a href="#thread-comment-ui"><button id="comment">post a comment</button></a>
            </div>
        </div>
    </div>
    
    <div class="header">
        <div id="post-grid">
            <div class="info">
                <div>
                    <p>{{ thread.owner.username }}</p>
                    <p><span class="admin">admin</span></p>
                    <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                
                    <p id="small">{{ thread.owner.threads|length }} {{ 'thread' if thread.owner.threads|length == 1 else 'threads' }}</p>
                        <p id="small">{{ thread.owner.comments|length }} {{ 'comment' if thread.owner.comments|length == 1 else 'comments' }}</p>
                </div>
            </div>
            <div class="content">
                <p>this post is stupid XDD</p>
                <p>{{ thread.format_time_created }}</p>
            </div>
        </div>
        <div class="signature">
            <p>{{ thread.owner.signature }}</p>
        </div>
    </div>

    {% if comments|length > 10 %}
        <div id="wrapper">
            <div id="pagination">
                <div>&lt;</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>&gt;</div>
            </div>

            <div id="filter">sort</div>
        </div>
    {% endif %}

    <!-- Jinja is so retarded, or maybe I am. its probably both -->
    {% for comment in comments %}
        {% with posted = get_flashed_messages(category_filter=["posted"]) %}
            {% if loop.last %}
                {% if posted %}  
                    <div id="comment" class="header header-last">
                {% else %}
                    <div id="comment" class="header">
                {% endif %}
            {% else %}
                <div id="comment" class="header">
            {% endif %}
        {% endwith %}

            <div id="post-grid">
                <div class="info">
                    <div>
                        <p>{{ comment.owner.username }}</p>
                        <p><span class="admin">admin</span></p>
                        <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                    
                        <p id="small">{{ comment.owner.threads|length }} {{ 'thread' if comment.owner.threads|length == 1 else 'threads' }}</p>
                        <p id="small">{{ comment.owner.comments|length }} {{ 'comment' if comment.owner.comments|length == 1 else 'comments' }}</p>
                    </div>
                </div>

                <div class="content">
                    <div id="controls">
                        <p>{{ comment.format_time_created }} <span id="editted">{{ '(editted)' if comment.editted == 1 }}</span></p>
                        {% if comment._owner == user %}
                            <div id="owner-controls">
                                <a>
                                    <img id="edit-comment" data-id="{{ comment.id }}" class="edit-comment {{ comment.id }}" src="../../static/imgs/8666681_edit_icon.svg" alt="">
                                </a>
                                
                                <a href="{{ url_for('thread_view.delete_comment', thread_id=thread.id, topic=topic, comment_id=comment.id) }}">
                                    <img id="delete-comment" src="../../static/imgs/rubbish-bin-svgrepo-com.svg" alt="">
                                </a>
                            </div>
                        {% endif %}
                    </div>

                    <form id="{{ comment.id }}-edit-comment" data-id="{{ comment.id }}" method="POST" action="/{{ topic }}/{{ thread.id }}/edit={{ comment.id }}" style="display: none;">
                        {{ form.csrf_token }}
                            
                        {{ form.message() }}
                        <button type="submit" id="{{ comment.id }}-confirm-edit" data-id="{{ comment.id }}">confirm</button>
                        <button type="button" id="{{ comment.id }}-cancel-edit" class="edit-cancel" data-id="{{ comment.id }}">cancel</button>
                    </form>
                    

                    <p id="{{ comment.id }}-content">{{ comment.content }}</p>
                </div>
            </div>

            <div class="signature">
                <p>{{ comment.owner.signature }}</p>
            </div>
        </div>
    {% endfor %}
    
    {% if comments|length > 10 %}
        <div id="wrapper">
            <div id="pagination">
                <div>&lt;</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>&gt;</div>
            </div>

            <div id="filter">sort</div>
        </div>
    {% endif %}

    <div id="thread-comment-ui">
        <div>
            <form method="POST" action="/{{ topic }}/{{ thread.id }}">
                {{ form.csrf_token }}
                <img src="../../static/imgs/cole_pfp.jpg" alt="">
                
                <!-- <textarea id="thread-comment-input" placeholder="reply to this thread"></textarea> -->
                {{ form.message }}
                <button type='submit'><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
