{% extends "layout.html" %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}

{% include 'includes/messageBar.html' %}

<div id="thread">
    <div class="header">
        <div id="info">
            <h3>{{ thread.title }}</h3>
        </div>
        
        <div>
            <img src="../../../static/imgs/cole_pfp.jpg" alt="">
            <div>
                <!-- Todo: change class to potential superuser title -->
                <p>created by <span class="admin"><a href="">{{ thread.owner.username }}</a></span></p>
                <p>on {{ thread.format_time_created }}</p>
            </div>
        </div>
    </div>

    <div id="thread-ui">
        <a href="#thread-comment-ui"><button id="comment">comment</button></a>
    </div>
    
    <div class="header">
        <div id="post-grid">
            <div class="info">
                <div>
                    <p>{{ thread.owner.username }}</p>
                    <p><span class="admin">admin</span></p>
                    <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                
                    <p id="small">8 threads</p>
                    <p id="small">3 comments</p>
                </div>
            </div>
            <div class="content">
                <p>this post is stupid XDD</p>
            </div>
        </div>
        <div class="signature">
            big whales and stuzz
        </div>
    </div>

    <div id="wrapper">
        <div id="pagination">
            <div>&lt;</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>&gt;</div>
        </div>

        <div id="filter">sort</div>
    </div>

    {% for comment in comments %}
        <div class="header">
            <div id="post-grid">
                <div class="info">
                    <div>
                        <p>{{ comment.owner.username }}</p>
                        <p><span class="admin">admin</span></p>
                        <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                    
                        <p id="small">8 threads</p>
                        <p id="small">3 comments</p>
                    </div>
                </div>

                <div class="content">
                    <p>{{ comment.content }}</p>
                </div>
            </div>

            <div class="signature">
                big whales and stuzz
            </div>
        </div>
    {% endfor %}

    <div id="wrapper">
        <div id="pagination">
            <div>&lt;</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>&gt;</div>
        </div>

        <div id="filter">sort</div>
    </div>

    <div id="thread-comment-ui">
        <div>
            <form method="POST" action="/{{ topic }}/{{ thread.id }}">
                {{ form.csrf_token }}
                <img src="../../static/imgs/cole_pfp.jpg" alt="">
                
                <!-- <textarea id="thread-comment-input" placeholder="reply to this thread"></textarea> -->
                {{ form.message }}
                <button type='submit'><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
