{% extends "layout.html" %}

{% block title %}{{ topic.title }}{% endblock %}


{% block content %}

{% include 'includes/messageBar.html' %}


<div id="topic">
    <div class="header">
        <h3>{{ topic._title }}</h3>
        <p>{{ topic._description }}</p>
    </div>
    
    <div id="table">
        <div id="wrapper">
            <div id="pagination">
                <div>&lt;</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>&gt;</div>
            </div>
            <div id="filter">sort</div>
        </div>
        
        <div id="forum">
            {% for thread in threads %}
                <div class="thread">
                    <a href="{{ url_for('thread_view.view', thread_id=thread.id, topic=topic._title) }}" style="text-decoration: none; color: black;">
                        <div class="information">
                            <p>{{ thread.title }}</p>
                            <p>by <span class="{{ thread.owner.title }}">{{ thread.owner.username }}</span>, {{ thread.time_created }}</p>
                        </div>
                    </a>
                    <div class="statistics">
                        <p>{{ thread.comment_count }}</p>
                        <p>0 views</p>
                    </div>
                    <div class="author">
                        <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                        <div>
                            <p class="admin">{{ thread.owner.username }}</p>
                            <p>{{ thread.time_created }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="wrapper">
            <div id="pagination">
                <div>&lt;</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>&gt;</div>
            </div>
            <div id="filter">sort</div>
        </div>
    </div>
</div>

{% endblock %}
