#authentication-container #auth-form
{
    display: flex;
    flex-direction: column;
    margin: auto;

    width: 56%;
}

#authentication-container #auth-form #header
{
    text-align: center;
    margin-top: 40px;
}

#auth-form ul
{
    list-style: none;
}

#auth-form ul div
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    color: white;
    background: rgb(255, 75, 75);

    padding: 6px;
    border-radius: 4px;
}

#auth-form ul div button
{
    border: none;
    cursor: pointer;
    background: white;

    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50px;
}

#auth-form ul div button img
{
    color: white;
}

#form-container
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;

    gap: 8px;
}

.input-container
{
    box-shadow: 0 0 2px #CCCCCC;
    background: white;
    border-radius: 50px;
    padding: 4px 6px 4px 6px;

    display: flex;
    width: 75%;
    margin: auto;
}

.input-container img
{
    width: 20px;
}

.input-container input
{
    border: none;
    margin-left: 4px;
    background: transparent;
    width: 96%;
}

#submit-button
{
    border: none;
    background: linear-gradient(to right, black, rgb(51, 51, 51));
    padding: 6px 8px 6px 8px;
    width: 76%;
    margin: auto;
    color: white;
    cursor: pointer;
}

#form-container p
{
    text-align: center;
}

#form-container p span
{
    color: rgb(255, 75, 75); 
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(255, 75, 75); 
    cursor: pointer;
}

#form-container p span a
{
    color: rgb(255, 75, 75); 
    text-decoration: none;
}


#authentication-container #recent-users-grid
{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 2px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 2px #CCCCCC;
    border: 1px solid #DDDDDD;

    overflow-x: scroll;

    display: flex;
    justify-content: left;
    align-items: center;
}

#recent-users-grid::-webkit-scrollbar 
{
    height: 8px;
}

#recent-users-grid::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 50px;
}

#recent-users-grid::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.recent-user-card
{
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 4px 6px 4px 6px;
    padding: 4px 6px 4px 6px;
    width: 150px;
    box-shadow: 0 0 8px #CCCCCC;
}

.recent-user-card div
{
    display: flex;
    justify-content: left;
    align-content: center;
    gap: 0.5rem;

    margin-bottom: 4px;
}

.recent-user-card div p
{
    font-size: 16px;
    margin: auto auto auto 0;
}

.recent-user-card img
{
    width: 32px;
}

.recent-user-card p
{
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.recent-user-card p span
{
    font-weight: bold;
}