#main-blur
{
    filter: blur(10px);
}

#main-featured-grid
{
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

#recent-threads, #popular-topics
{
    font-weight: 500;
}

.recent-card
{
    background: white;
    padding: 8px 12px 8px 12px;
    margin-top: .5em;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    height: 28px;
}

.recent-card:hover
{
    transform: scale(1.01);
    box-shadow: 0 0 2px #CCCCCC;
}

.recent-card span
{
    margin-left: auto;
    margin-right: 16px;
    font-size: 14px;
}

.recent-card p 
{
    margin: 0;
}

.recent-card p span
{
    color: rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
    font-size: 16px;
}

.recent-card span i
{
    padding: 4px 6px 4px 6px;
    border-radius: 50px;
    margin-right: 4px;
    margin-left: 16px;
}


.popular-card
{
    background: white;
    padding: 4px 12px 4px 12px;
    margin-top: .5em;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    border-left: 6px solid rgb(168, 168, 168);
    
}

.popular-card:hover
{
    transform: scale(1.01);
    box-shadow: 0 0 2px #CCCCCC;
}

.popular-card i
{
    margin-left: 16px;
    font-size: 36px;
    color: rgb(168, 168, 168);
}

.popular-card p
{
    margin: 0;
    margin-left: 16px;
    color: #222222;
}

.popular-card span
{
    margin-right: 16px;
    font-size: 14px;
    margin-left: auto;
    color: rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
}



.forum-wrapper
{
    margin-top: 36px;
    margin-bottom: 36px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    overflow: hidden;
}

#main-forum-table
{
    background: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#main-forum-table thead
{
    background-color: whitesmoke;
}

#main-forum-table thead tr th
{
    border-bottom: 2px solid rgb(255, 75, 75);
}

#main-forum-table th, #main-forum-table td 
{
    text-align: left;
    padding: 20px;
    vertical-align: top;
    box-shadow: 0 0 0 1px whitesmoke;
}

#main-forum-table th:first-child, #main-forum-table td:first-child 
{
    width: auto;
}

#main-forum-table #topics, #main-forum-table #comments, #main-forum-table #last-post
{
    white-space: nowrap;
    flex-grow: 0; 
    flex-shrink: 0;
}

#main-forum-table #last-post-container, #main-forum-table #comments, #main-forum-table #topics
{
    border-top: 2px solid whitesmoke;
}

#main-forum-table #last-post, #main-forum-table #forums 
{
    cursor: pointer;
}

#main-forum-table #last-post p, #main-forum-table #forum p, #main-forum-table td p, #main-forum-table #forums p
{
    margin: 0;
    text-align: left;
}

#main-forum-table #last-post #title
{
    color: #0078d7;
    font-weight: bold;
}

#main-forum-table #forums #title
{
    font-weight: 500;
}

#main-forum-table #forums 
{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 75px;
    height: 100%;
}

#main-forum-table #forums #subtopics
{
    margin-top: auto;
}

#main-forum-table #forums #subtopics span
{
    color: rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
    cursor: pointer;
}