#main-blur
{
    filter: blur(10px);
}

#forum
{
    margin-top: 40px;
    margin-bottom: 40px;
}

#main-featured-grid
{
    padding-top: 20px;
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

#recent-threads, #popular-topics
{
    font-weight: 500;
}

.recent-card
{
    background: white;
    padding: 8px 12px 8px 12px;
    margin-top: .5em;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    height: 28px;
}

.recent-card:hover
{
    transform: scale(1.01);
    box-shadow: 0 0 2px #CCCCCC;
}

.recent-card span
{
    margin-left: auto;
    font-size: 14px;
}

.recent-card p 
{
    margin: 0;
}

.recent-card p span
{
    color: rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
    font-size: 16px;

    align-items: center;
    margin: auto;
}


.recent-card div
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.recent-card div img
{
    width: 24px;
    border-radius: 100%;
}


.popular-card
{
    background: white;
    padding: 4px 12px 4px 12px;
    margin-top: .5em;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

.popular-card:hover
{
    transform: scale(1.01);
    box-shadow: 0 0 2px #CCCCCC;
}

.popular-card i
{
    margin-left: 16px;
    font-size: 36px;
    color: rgb(168, 168, 168);
}

.popular-card p
{
    margin: 0;
    margin-left: 16px;
    color: #222222;
}

.popular-card span
{
    margin-right: 16px;
    font-size: 14px;
    margin-left: auto;
    color: rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
}



.forum-wrapper
{
    color: #737373;
    border-radius: 4px;
    box-shadow: 0 0 2px #CCCCCC;

    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.forum-wrapper .forum-columns
{
    color: #666666;
    background-color: rgb(250, 250, 250);
    border: 1px solid #d4d4d4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.forum-wrapper .forum-row
{
    border-radius: 4px;
}

.forum-wrapper .forum-row div
{
    min-height: 90px;
}

.forum-wrapper .forum-row #forum-col
{
    border-left: 1px solid #d4d4d4;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.forum-wrapper .forum-row #forum-col p:first-of-type,
.last-posts-col #title
{
    font-weight: bold;
    color: rgb(59, 126, 228);
    cursor: pointer;
}

.forum-wrapper .forum-row #forum-col p:last-of-type
{
    margin-top: auto;
}

.forum-wrapper .forum-row #forum-col p span
{
    color: rgb(89, 149, 238);
    cursor: pointer;
}

.forum-wrapper .forum-row:last-child > :first-child 
{
    border-bottom-left-radius: 4px;
}

.forum-wrapper .forum-row:last-child > :last-child 
{
    border-bottom-right-radius: 4px;
}

.forum-wrapper .forum-row div
{
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 4px;
}

.forum-wrapper .forum-columns p
{
    padding: 6px;
}

.forum-wrapper .forum-columns p
{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.forum-wrapper .forum-row div p
{
    padding: 2px;
}

.forum-wrapper div
{
    display: grid;
    grid-template-columns: 61% 7% 7% 25%;
}

.forum-wrapper .forum-row div
{
    display: flex;
    flex-direction: column;
    align-content: start;
}

.forum-wrapper .forum-row div p
{
    margin: 0;
}

.forum-wrapper .forum-row #forum-col
{
    overflow-wrap: break-word;
}

.last-posts-col 
{
    display: flex;
    flex-direction: column;
}

.last-posts-col #author
{
    margin-top: auto;
}

.last-posts-col #author span, .last-posts-col #title
{
    cursor: pointer;
}

/* .forum-wrapper
{
    margin-top: 36px;
    margin-bottom: 36px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    overflow: hidden;
}

#main-forum-table
{
    background: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#main-forum-table thead
{
    background-color: whitesmoke;
}

#main-forum-table thead tr th
{
    padding: 8px;
    border-bottom: 2px solid #CCCCCC;
}


/* #main-forum-table th, #main-forum-table td 
{
    text-align: left;
    padding: 20px;
    vertical-align: top;
    box-shadow: 0 0 0 1px whitesmoke;
}

#main-forum-table th:first-child, #main-forum-table td:first-child 
{
    width: auto;
}

#main-forum-table #topics, #main-forum-table #comments, #main-forum-table #last-post
{
    white-space: nowrap;
    flex-grow: 0; 
    flex-shrink: 0;
}

#main-forum-table #last-post-container, #main-forum-table #comments, #main-forum-table #topics
{
    border-top: 2px solid whitesmoke;
}

#main-forum-table #last-post, #main-forum-table #forums 
{
    cursor: pointer;
}

#main-forum-table #last-post p, #main-forum-table #forum p, #main-forum-table td p, #main-forum-table #forums p
{
    margin: 0;
    text-align: left;
}

#main-forum-table #last-post #title
{
    color: #0078d7;
    font-weight: bold;
}

#main-forum-table #forums #title
{
    font-weight: 500;
}

#main-forum-table #forums 
{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 75px;
    height: 100%;
}

#main-forum-table #forums #subtopics
{
    margin-top: auto;
}

#main-forum-table #forums #subtopics span
{
    color: rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
    cursor: pointer;
} */