/* Main content styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body
{
    background-color: whitesmoke;

    flex-direction: column;
    display: flex;
    height: 100%;

    margin: 0;
    padding: 0;
    
    font-family: 'Roboto Condensed';
}

header
{
    width: 100%;
}

header .container
{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
}

.logo
{
    cursor: pointer;
    font-size: 24px;
    margin: 0;

    font-family: 'sans-serif';
}

.logo.mini
{
    text-align: center;
    font-size: 18px;
}

header .container nav ul
{
    list-style: none;
    display: flex;
    gap: 1rem;
}

header .container nav ul li
{
    background: whitesmoke;
    position: relative;
    border-radius: 6px;
    padding: 8px 15px 8px 15px;
    margin: 0;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

header .container nav ul li:hover
{
    transform: scale(1.05);
    color: white;
    background: orange;
    box-shadow: 0 0 5px whitesmoke;
    border-radius: 50px;
}












main
{
    background: whitesmoke;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}














footer
{
    margin-top: auto;
    background-color: white;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container
{
    width: 75%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

footer #footer-logo
{
    font-size: 10px;
    cursor: pointer;
}

footer #footer-container
{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 4px 8px 4px 8px;
    border-radius: 25px;
}

footer #footer-cred
{
    margin: 0;
    padding: 0;
}





#shoutbox-message-grid
{
    overflow-y: scroll;
    height: 126px;
}

#shoutbox-container
{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #CCCCCC;
    background-color: white;
    margin-top: 30px;
    border-radius: 8px;
    position: relative;
    border: 3px solid #DDDDDD;
    border-left: 6px solid orange;
}

.message-card
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: 4px;
    margin: 4px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px #CCCCCC;
}

.message-card i
{
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}

.message-card p
{
    padding: 0;
    margin: 0;
}

.message-card #username
{
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}

.message-card #time
{
    margin-left: auto;
    font-size: 12px;
}

.message-card #message
{
    font-size: 14px;
}

#shoutbox-ui
{
    border-radius: 12px;
    margin-top: 10px;
    background: white;
    padding: 6px 10px 6px 10px;
    box-shadow: 0 0 5px #CCCCCC;
}

#shoutbox-ui form
{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 6px;
}

#shoutbox-ui form .comment-box
{
    width: 94%;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: #777777;
    box-shadow: 0 0 5px #CCCCCC;
}

#shoutbox-ui #shoutbox-submit
{
    border: none;
    padding: 4px 6px 4px 4px;
    border-radius: 50px;
    background-color: rgb(255, 175, 28);
    color: rgb(255, 240, 212);
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

#shoutbox-ui #shoutbox-submit:hover
{
    transform: scale(1.1);
    color: white;
    background-color: rgb(255, 196, 45);
}

#shoutbox-ui div input::placeholder
{
    color: #777777;
}

#shoutbox-ui #shoutbox-pfp
{
    padding: 4px 6px 4px 6px;
    border-radius: 50px;
}

.user
{
    color: #777777;
}

.user-bg
{
    border-radius: 50px;
    color: rgb(255, 240, 212);
    background-color: #777777;
}

.donator
{
    color: rgb(47, 219, 76);
}

.donator-bg
{
    border-radius: 50px;
    color: rgb(255, 240, 212);
    background-color: rgb(47, 219, 76);
}

.mod
{
    color: #49c9fc;
}

.mod-bg
{
    border-radius: 50px;
    color: rgb(255, 240, 212);
    background-color: #49c9fc;
}

.admin
{
    color: #f82b2b;
}

.admin-bg
{
    border-radius: 50px;
    color: rgb(255, 240, 212);
    background-color: #f82b2b;
}

.developer
{
    color: #2724e9;
}

.developer-bg
{
    border-radius: 50px;
    color: rgb(255, 240, 212);
    background-color: #2724e9;
}







#homeButton
{
    border: none;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    background: whitesmoke;
    box-shadow: 0 0 4px #CCCCCC;
    color: black;
}

#homeButton:hover
{
    transform: scale(1.05);
    color: white;
    background: orange;
    box-shadow: 0 0 5px whitesmoke;
}


.authButton
{
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 0 4px #CCCCCC;
}

.authButton:hover
{
    transform: scale(1.05);
    color: white;
    background: orange;
    box-shadow: 0 0 5px whitesmoke;
}



#messageBar
{
    /* Different colours for message bar */
    /* background: rgb(255, 75, 75); */        
    /* background: rgb(75, 175, 255); */
    /* background: rgb(75, 204, 255); */
    /* background: rgb(111, 255, 75); */
    background: rgb(255, 177, 75);
    color: whitesmoke;
    margin: 0;
    padding: 4px;
}

#messageBar span
{
    color: white;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

#messageBar #alert
{
    width: 75%;
    margin: auto;
}

#messageBar p
{
    width: 60%;
    margin: center;
}