/* Main content styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    font-family: 'Roboto Condensed';
}

html, body
{
    background-color: whitesmoke;

    flex-direction: column;
    display: flex;
    height: 100%;

    margin: 0;
    padding: 0;
}

header
{
    width: 100%;
}

header .container
{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    margin-top: 10px;
    position: relative;

    border-radius: 500px;
}

header .container div
{
    display: flex;
    align-items: center;
    gap: 8px;

}

.logo
{
    cursor: pointer;
    font-size: 24px;
    margin: 0;

    font-family: 'sans-serif';
}

.logo a
{
    color: black;
    text-decoration: none;
    font-family: 'sans-serif';
}

.logo.mini
{
    text-align: center;
    font-size: 18px;
}

header .container nav ul
{
    list-style: none;
    display: flex;
    gap: 1rem;
}

header .container nav ul li
{
    background: black;
    border: 1px solid black;
    position: relative;
    border-radius: 50px;
    padding: 4px 15px 4px 15px;
    margin: 0;
    color: white;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

header .container nav ul li:hover
{
    background-color: white;
    color: black;
    box-shadow: 0 0 5px whitesmoke;
}












main
{
    background: whitesmoke;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}














footer
{
    margin-top: auto;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container
{
    width: 75%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    padding: 15px;

    position: relative;
}

footer .container a
{
    text-decoration: none;
    color: black;
}

footer #footer-logo
{
    font-size: 10px;
    cursor: pointer;
}

footer #footer-container
{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 4px 8px 4px 8px;
    border-radius: 25px;
}

footer #footer-container a
{
    text-decoration: none;
    color: white;
}

footer #footer-cred
{
    margin: 0;
    padding: 0;
}





#shoutbox-message-grid
{
    overflow-y: scroll;
    height: 126px;
}

#shoutbox-message-grid::-webkit-scrollbar 
{
    width: 6px;
}

#shoutbox-message-grid::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 50px;
}

#shoutbox-message-grid::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#shoutbox-container
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border: 1px solid #DDDDDD;
    padding: 2px;
}

.message-card
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: 4px;
    margin: 4px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px #CCCCCC;
}

.message-card i
{
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}

.message-card p
{
    padding: 0;
    margin: 0;
}

.message-card #username
{
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}

.message-card #time
{
    margin-left: auto;
    font-size: 12px;
}

.message-card #message
{
    font-size: 14px;
}

#shoutbox-ui form
{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 2px;
}

#shoutbox-ui form .comment-box
{
    width: 94%;
    border: none;
    background-color: white;
}

#shoutbox-ui form div
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;
    background-color: white;
    color: #777777;
    border: 1px solid #DDDDDD;

    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    margin-top: 2px;
    
    width: 100%;
}

#shoutbox-ui form div img
{
    width: 24px;
}

#shoutbox-ui #shoutbox-submit
{
    border: none;
    background-color: white;
    color: #777777;
    transition: 0.3s ease-in-out all;
    transform: scale(1.2);
}

#shoutbox-ui #shoutbox-submit:hover
{
    transform: scale(1.4);
    color: black;
}

#shoutbox-ui div input::placeholder
{
    color: #777777;
}

#shoutbox-ui #shoutbox-pfp
{
    padding: 4px 6px 4px 6px;
    border-radius: 50px;
}

.user
{
    color: #777777;
}

.user-bg
{
    border-radius: 50px;
    color: white;
    background-color: #777777;
}

.donator
{
    font-weight: bold;
    color: rgb(47, 219, 76);
}

.donator-bg
{
    border-radius: 50px;
    color: white;
    background-color: rgb(47, 219, 76);
}

.mod
{
    font-weight: bold;
    color: #49c9fc;
}

.mod-bg
{
    border-radius: 50px;
    color: white;
    background-color: #49c9fc;
}

.admin
{
    font-weight: bold;
    color: #f82b2b;
}

.admin-bg
{
    border-radius: 50px;
    color: white;
    background-color: #f82b2b;
}

.developer
{
    font-weight: bold;
    color: #2724e9;
}

.developer-bg
{
    border-radius: 50px;
    color: white;
    background-color: #2724e9;
}







#homeButton
{
    border: none;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    background: rgb(168, 168, 168);
    box-shadow: 0 0 4px #CCCCCC;
    color: white;
}

#homeButton:hover
{
    transform: scale(1.05);
    background-color: black;
    box-shadow: 0 0 5px whitesmoke;
}

.userButton
{
    border: none;
    padding: 4px 4px 2px 4px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 0 4px #CCCCCC;
    z-index: 5;
}

.userButton:hover
{
    filter: blur(2px);
    transform: scale(1.05);
}

.userButton img
{
    width: 36px;
    height: 36px;
}

#userInterface
{
    position: relative;
}

#userName
{
    margin-right: 6px;
    font-weight: bold;
}

#uid span
{
    color: goldenrod;
}

#uiPopup
{
    position: absolute;
    top: 50%;
    right: 0;
    padding-top: 10px;

    background-color: whitesmoke;
    box-shadow: 0 0 4px #CCCCCC;
    border-radius: 4px;

    z-index: 4;
    transition: 0.2s ease-in all;

    visibility: hidden;
    flex-direction: column;
}

#uiPopup #container
{
    display: block;
}

#uiPopup #uid
{
    margin: 0;
}

#uiPopup #title
{
    margin: 0;
}

#uiPopup p
{
    text-align: center;
    margin: 0;
    margin-top: 26px;
}

#uiPopup ul
{
    list-style: none;
    line-height: 24px;
    width: 190px;
    padding-left: 0;
    margin: 0 12px 12px 12px;
}

#uiPopup ul a
{
    text-decoration: none;
    color: inherit;
}

#uiPopup ul li
{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 6px;
    padding: 2px 14px 2px 14px;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: 0.2s ease-in-out all;

    cursor: pointer;
}

#uiPopup ul li:hover
{
    background-color: #EEEEEE;
}

#uiPopup ul li img
{
    width: 24px;
}

.signoutButton
{
    margin: auto;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    border: none;
    background: black;
    color: white;
    padding: 8px;

    cursor: pointer;
}

.signoutButton img
{
    margin-right: auto;
}

.authButton
{
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background: rgb(168, 168, 168);
    transition: 0.3s all ease-in-out;
    box-shadow: 0 0 4px #CCCCCC;
}

.authButton:hover
{
    transform: scale(1.05);
    color: white;
    background-color: black;
    box-shadow: 0 0 5px whitesmoke;
}

.authButton a
{
    text-decoration: none;
    color: white;
}


#messageBar
{
    /* Different colours for message bar */
    background: rgb(255, 75, 75);        
    /* background: rgb(75, 175, 255); */
    /* background: rgb(75, 204, 255); */
    /* background: rgb(111, 255, 75); */
    /* background: rgb(255, 177, 75); */
    color: whitesmoke;
    margin: 0;
    padding: 4px;
    margin-bottom: 16px;
}

#messageBar span
{
    color: white;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

#messageBar #alert
{
    width: 98%;
    margin: auto;
}

#messageBar p
{
    width: 60%;
    margin: center;
}

#blur
{
    width: 100%;
    height: 100%;
    z-index: 50;
}