#thread .header
{
    position: relative;
    transition: 0.3s all ease;
}

#comment:hover
{
    transform: scale(1.005);
}

#thread .header, #wrapper, #thread-ui
{
    margin-top: 16px;

    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px #CCCCCC;
    padding: 2px 12px 4px 12px;

    display: flex;
    flex-direction: column;
    gap: .7rem;
}


#thread .header:first-of-type
{
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 4px 12px 4px 12px;
}

#thread .header:first-of-type div:last-of-type
{
    margin-top: 2px;
}

#thread .header:first-of-type div:last-of-type #thread-ui
{
    margin-left: auto;
}

#thread .header #info
{
    margin-top: 6px;
    padding-bottom: 4px;
    padding-right: 2px;
    padding-left: 2px;
}

#thread .header #info>*
{
    display: inline;
}

#thread .header #info h3
{
    font-size: 18px;
}

#thread .header div:last-of-type
{
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-bottom: 4px;
}

#thread .header div:last-of-type div
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    gap: 0;
}

#thread .header div:last-of-type div span a
{
    color: inherit;
}

#thread .header div:last-of-type div p
{
    margin: 0;
}

#thread .header div:last-of-type img
{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    align-self: center;
}

#thread .header #post-grid
{
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEEEEE;
}


#thread .header #post-grid .info div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 0;
    margin-top: 6px;
}

#thread .header #post-grid .info div p
{
    margin: 0;
}

#thread .header #post-grid .info div #small
{
    font-size: 14px;
}

#thread .header #post-grid .info>*
{
    margin: 0;
}

#thread .header #post-grid .info img
{
    width: 30%;
    height: 30%;
    margin-top: 6px;
    margin-bottom: 6px;
    clip-path: circle();
}

#thread .header #post-grid .content
{
    display: flex;
    flex-direction: column;
}

#thread .header #post-grid .content p
{
    font-size: 14px;
}

#thread .header #post-grid .content p:last-of-type
{
    margin: 0;
}

#thread .header #post-grid .content p:first-of-type
{
    font-size: 14px;
    margin-top: 8px;
}

#thread .header #post-grid .content #controls
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#thread .header #post-grid .content #controls div
{
    flex-direction: row;
    gap: 4px;
}

#thread .header #post-grid .content #controls #editted
{
    font-style: italic;
    color: #777777;
}

#thread .header .signature
{
    font-size: 12px;
    padding-bottom: 6px;
}

#thread .header-last
{
    transform: scale(1.01);
    box-shadow: 0 1px 5px #ababab;
}

#pagination
{
    display: flex;
    align-items: center;
}

#wrapper
{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

#pagination div, #wrapper #filter
{
    font-size: 12px;
    margin: 4px;
    padding: 4px 8px 4px 8px;
    color: white;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all ease;
}

#pagination div:hover, #wrapper #filter:hover
{
    background-color: #EEEEEE;
    border: 1px solid #333333;
    color: #333333;
}


#thread-ui
{
    flex-direction: row;
    justify-content: end;
    gap: 1rem;

    background: transparent;
    box-shadow: none;
    padding: 0;
}

#thread-ui button
{
    width: fit-content;
    font-size: 16px;
    margin: 4px;
    padding: 4px 8px 4px 8px;
    color: white;
    background-color: rgb(59, 126, 228);
    border: 1px solid rgb(59, 126, 228);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all ease;
}

#thread-ui button:hover
{
    background-color: #EEEEEE;
    border: 1px solid #333333;
    color: #333333;
}

#thread-ui button img
{
    width: 24px;
}


#thread-comment-ui
{
    margin-top: 16px;

    background: white;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 1px 2px #CCCCCC;

}

#thread-comment-ui div form
{
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
}

#thread-comment-ui img
{
    clip-path: circle();
    margin: 12px 0 12px 12px;
    width: 46px;
}

.thread-comment-input
{
    border: none;
    border-radius: 2px;
    margin: 12px;

    width: 91%;
    height: fit-content;
}

.thread-comment-input:focus
{
    outline: none;
}

#thread-comment-ui button
{
    border: none;
    clip-path: circle();
    background-color: rgb(59, 126, 228);
    color: white;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    transition: 0.1s ease all;
    margin: auto;
}

#thread-comment-ui button:active
{
    transform: scale(1.045);
    background-color: rgb(30, 90, 181);
}


#owner-controls
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#owner-controls #delete-comment, #owner-controls #edit-comment
{
    background-color: black;
    width: 20px;
    padding: 0 4px 0 4px;
    border-radius: 6px;
    cursor: pointer;
}

.success, .errors
{
    top: 16px;
    z-index: 100;
    position: sticky;
}

.success div, .errors div
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    color: white;
    background: rgb(86,48,133);
    padding: 6px;
    border-radius: 4px;
}

.success div button, .errors div button
{
    border: none;
    cursor: pointer;
    background: white;

    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50px;
}

.errors
{
    background: rgb(255, 75, 75);
}


#forum .thread
{
    margin-bottom: 8px;
}

#forum div:last-of-type
{
    margin-bottom: 0;
}

.thread
{
    display: grid;
    grid-template-columns: 75% 10% 15%;
    width: 100%;
    padding: 4px;
}

.thread .author
{
    display: flex;
    gap: 8px;
    align-items: center;
}

.thread .statistics 
{
    margin-bottom: 0;
}

.thread .information p, 
.thread .statistics p,
.thread .author p
{
    margin: 0;
}

.thread img
{
    width: 32px;
    clip-path: circle();
}

.edit-comment-ui, .edit-comment-button
{
    display: none;
}
