#thread .header
{
    margin-top: 16px;

    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px #CCCCCC;
    padding: 2px 12px 4px 12px;

    display: flex;
    flex-direction: column;
    gap: .7rem;
}

#thread .header #info
{
    margin-top: 6px;
    padding-bottom: 4px;
    padding-right: 2px;
    padding-left: 2px;
}

#thread .header #info>*
{
    display: inline;
}

#thread .header #info h3
{
    font-size: 18px;
}

#thread .header div:last-of-type
{
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-bottom: 4px;
}

#thread .header div:last-of-type div
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    gap: 0;
}

#thread .header div:last-of-type div span a
{
    color: inherit;
}

#thread .header div:last-of-type div p
{
    margin: 0;
}

#thread .header div:last-of-type img
{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    align-self: center;
}

#thread .header #post-grid
{
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEEEEE;
}


#thread .header #post-grid .info div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 0;
    margin-top: 6px;
}

#thread .header #post-grid .info div p
{
    margin: 0;
}

#thread .header #post-grid .info div #small
{
    font-size: 14px;
}

#thread .header #post-grid .info>*
{
    margin: 0;
}

#thread .header #post-grid .info img
{
    width: 30%;
    height: 30%;
    margin-top: 6px;
    margin-bottom: 6px;
    clip-path: circle();
}

#thread .header #post-grid .content p
{
    font-size: 14px;
}

#thread .header .signature
{
    font-size: 12px;
    padding-bottom: 6px;
}
