#privileges .header
{
    margin-top: 16px;

    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px #CCCCCC;
    padding: 2px 12px 4px 12px;
    z-index: 3;
}

#privileges .header img
{
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

#privileges .header h3
{
    font-weight: 500;
}

#privileges .header h3, #privileges .header p
{
    font-size: 16px;
    margin: 6px 0 6px 0;
}


#privileges .table
{
    margin-top: 16px;

    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px #CCCCCC;
}

#privileges .table p
{
    margin: 0;
}

#privileges .table .table-head, 
#privileges .table .table-row
{
    display: grid;
    padding: 4px;
    grid-template-columns: 5% 65% 15% 15%;
}

#privileges .table div:nth-child(even)
{
    background-color: rgb(252, 252, 252);
}

#privileges .table .table-head
{
    font-weight: bold;
    background-color: whitesmoke;
}

#privileges .table div:last-of-type
{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}









.settings
{
    position: relative;
}

#privileges .options {
    width: 99%; 
    margin: auto; 
    margin-top: -8px;
    background-color: white;
    box-shadow: 0 1px 2px rgb(190, 190, 190);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 8px;
    padding-top: 18px;
    transition: 0.2s all ease-in-out;
}

.options>div
{
    width: 33%;
}

.options #delete 
{
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: start;
    align-items: center;
    margin-top: 6px;
    gap: 10px;
    min-width: 256px;
}

.options #delete p, 
.options #delete button     
{
    width: 100%; 
    text-align: center;
}

.options #delete p 
{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.options #delete button 
{
    border: none;
    background-color: black;
    color: white;
    padding: 4px 12px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.options #delete button:hover 
{
    background-color: #f82b2b;
}


#privileges #password
{
    width: 32%;
    margin-left: 12px;
}

#privileges #password p
{
    margin: 0;
    font-size: 12px;
}

#privileges #password>p
{
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
}

#privileges #password #container
{
    display: flex;
    gap: 4px;
}

#privileges #password input
{
    border-radius: 4px;
    border: 1px solid #AAAAAA;
    margin-bottom: 4px;
    display: inline;
}

#privileges #password button
{
    border: none;
    background-color: black;
    color: white;
    padding: 4px 12px 4px 12px;
    font-size: 12px;
    margin-top: 8px;
    cursor: pointer;
    display: block;
    transition: 0.2s all ease;
    width: 100%;
    min-width: 245px;
}

#privileges #password button:hover
{
    background-color: #20c315; 
}