<div id="blur">
</div>

<div id="authPopup">
    <div>
        <button id="close-popup">x</button>

        <!-- <p id="header">Login to your account</p> -->
        <p id="header">Create a new account</p>

        <form method="POST" action="/" >
            <div>
                <p>Username</p>
                <input id="username-field" type="text" required />
            </div>
            
            <div>
                <p>Password</p>
                <input id="password-field" type="text" required />
            </div>

            <div>
                <p>Email</p>
                <input id="email-field" type="text" requried />
            </div>

            <p>Already have an account? <span>Log in</span> here</p>
            <!-- <button id="auth-submit">Login</button> -->
            <button id="auth-submit">Register</button>
        </form>
    </div>
</div>