<div id="authPopup">
    <div>
        <button id="close-popup">✖</button>

        <!-- <p id="header">Login to your account</p> -->
        <p id="header">Create a new account</p>

        <form method="POST" action="/" >
            <div>
                <p>Username</p>
                <input id="username-field" type="text" required />
            </div>
            
            <div>
                <p>Password</p>
                <input id="password-field" type="password" required />
            </div>
            
            <!-- Add jinja if for signup/login -->
                <div>
                    <p>Email</p>
                    <input id="email-field" type="email" requried />
                </div>
                    <!-- <button id="auth-submit">Login</button> -->
                    <!-- <p>Forgot your password? <span>Recover</span> your account here</p> -->

                    
                <button id="auth-submit">Register</button>
                <p>Already have an account? <span>Log in</span> here</p>
        </form>
    </div>
</div>