<footer>
    <div class="container">
        <a href="{{ url_for('home.home') }}">
            <div id="footer-logo">
                <p class="logo mini">forum.</p>
                <p id="footer-cred">built by cole</p>
            </div>
        </a>
        <div id="footer-container">
            <a href="{{ url_for('home.home') }}"><i id="homeButton" class="fa fa-home" aria-hidden="true"></i></a>
            <button class="authButton" type="button"><a href="{{ url_for('authentication.home', type='register') }}">register</a></button>
        </div>
    </div>
</footer>