<header>
    <div class="container">
        <p class="logo"><a href="{{ url_for('home.home') }}">munkeware</a></p>

        <nav>
            <ul>
                <li><a>users</a></li>  <!-- browse all users -->
                <li><a>support</a></li> 
            </ul>
        </nav>
    
        <div>
            {% if 'username' in session %}
                <div id="userInterface">
                    <p id="userName" class="{{ user._title }}">{{ session['username'] }}</p>
                    <button id="userButton" class="userButton" type="button"><img src="../../static/imgs/profile-picture.png" alt="User icon"></button>
                    
                    <div id="uiPopup">
                        <div id="container">
                            <p id="userName">{{ session['username'] }}</p>
                            {% if user._title %} <p id="title" class="{{ user._title }}">{{ user._title }}</p> {% endif %}
                            <p id="uid">(<span>uid {{ user.id }}</span>)</p>
                        </div>

                        <ul>
                            <a href="{{ url_for('user.privileges') }}"><li><img src="../../static/imgs/key.svg" alt="key icon">privileges</li></a>  <!-- view role and special privileges -->
                            <a href="{{ url_for('user.settings') }}"><li><img src="../../static/imgs/gear.svg" alt="gear icon">settings</li></a>    <!-- alter forum settings -->

                            {% if user.is_superuser %}
                                <a href="{{ url_for('user.panel') }}"><li><img src="../../static/imgs/lock.svg" alt="key icon">panel</li></a>  <!-- superuser specific menu -->
                            {% endif %}

                            <a href="{{ url_for('authentication.logout') }}"><button class="signoutButton" type="button">sign out</button></a>
                        </ul>
                    </div>
                </div>

            {% else %}
                <a href="{{ url_for('authentication.register') }}"><button class="authButton" type="button">register</button></a>
                <a href="{{ url_for('authentication.login') }}"><button class="authButton" type="button">login</button></a>
            {% endif %}
        </div>
    </div>
</header>