<header>
    <div class="container">
        <p class="logo"><a href="{{ url_for('home.home') }}">forum.</a></p>

        <nav>
            <ul>
                <li><a>browse</a></li>  <!-- browse main topics/mainthread board     -->
                <li><a>threads</a></li> <!-- browse by threads, can filter     -->
                <li><a>support</a></li> 
            </ul>
        </nav>
    
        <div>
            <button class="authButton" type="button"><a href="{{ url_for('authentication.register') }}">register</a></button>
        </div>
    </div>
</header>