<header>
    <div class="container">
        <p class="logo"><a href="{{ url_for('home.home') }}">forum.</a></p>

        <nav>
            <ul>
                <li><a>browse</a></li>  <!-- browse main topics/mainthread board     -->
                <li><a>threads</a></li> <!-- browse by threads, can filter     -->
                <li><a>support</a></li> 
            </ul>
        </nav>
    
        <div>
            {% if 'username' in session %}
                <div id="userInterface">
                    <button id="userButton" class="userButton" type="button"><img src="../../static/imgs/profile-picture.png" alt="User icon"></button>
                    
                    <div id="uiPopup">
                        <ul>
                            <li><img src="../../static/imgs/info.svg" alt="info icon"><a>account information</a></li> <!-- account information, personal info -->
                            <li><img src="../../static/imgs/key.svg" alt="key icon"><a>view privileges</a></li>  <!-- view role and special privileges -->
                            <li><img src="../../static/imgs/gear.svg" alt="gear icon"><a>change settings</a></li>    <!-- alter forum settings -->
                            <a href="{{ url_for('authentication.logout') }}"><button class="signoutButton" type="button">sign out</button></a>
                        </ul>
                    </div>
                </div>

            {% else %}
                <a href="{{ url_for('authentication.register') }}"><button class="authButton" type="button">register</button></a>
                <a href="{{ url_for('authentication.login') }}"><button class="authButton" type="button">login</button></a>
            {% endif %}
        </div>
    </div>
</header>