<div id="shoutbox-container">
    <div id="shoutbox-message-grid">
        <div class="message-card">
            <i class="fa fa-user user-bg"></i>
            <p id="username"><span class="user">user</span></p>
            <p id="message">what the deus   </p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i class="fa fa-user donator-bg"></i>
            <p id="username"><span class="donator">donator</span></p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i class="fa fa-user mod-bg"></i>
            <p id="username"><span class="mod">mod</span></p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i class="fa fa-user admin-bg"></i>
            <p id="username"><span class="admin">admin</span></p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i class="fa fa-user developer-bg"></i>
            <p id="username"><span class="developer">developer</span></p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>
    </div>
</div>

<div id="shoutbox-ui">
    <div>
        <i id="shoutbox-pfp" class="fa fa-user user-bg"></i>
        <input id="shoutbox-message" type="text" placeholder="whats on your mind?" />
        <button id="shoutbox-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
</div>