<div id="shoutbox-container">
    <div id="shoutbox-message-grid">
        <div class="message-card">
            <i id="shoutbox-pfp" class="fa fa-user"></i>
            <p id="username">cole</p>
            <p id="message">if i find whoever you are you motherfucker i will kill you</p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i id="shoutbox-pfp" class="fa fa-user"></i>
            <p id="username">cole</p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i id="shoutbox-pfp" class="fa fa-user"></i>
            <p id="username">cole</p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i id="shoutbox-pfp" class="fa fa-user"></i>
            <p id="username">cole</p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>

        <div class="message-card">
            <i id="shoutbox-pfp" class="fa fa-user"></i>
            <p id="username">cole</p>
            <p id="message">who pharded</p>
            <p id="time">5:55 PM</p>
        </div>
    </div>
    <div id="shoutbox-ui">
        <div>
            <i id="shoutbox-pfp" class="fa fa-user"></i>
            <input id="shoutbox-message" type="text" placeholder="whats on your mind?" />
            <button id="shoutbox-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
</div>