<div id="authentication-container">
    <div id="recent-users-grid">
        <div class="recent-user-card">
            <div>
                <img src="../../../static/imgs/account.svg" alt="">
                <p>overpowered23</p>
            </div>

            <p>created at <span>17:53</span></p>
        </div>
    </div>

    <div id="auth-form">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
            <div class="errors">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
          {% endif %}
        {% endwith %}

        {% if type == 'register' %}
            <h3 id="header">create an account</h3>
        {% elif type == 'login' %}
            <h3 id="header">login to your account</h3>
        {% endif %}
        
        <form method="POST" action="/auth/register">
            {{ form.csrf_token }}

            <div id="form-container">
                <div class="input-container">
                    <img src="../../../static/imgs/account.svg" alt="">
                    {{ form.username() }}
                </div>
                
                <div class="input-container">
                    <img src="../../../static/imgs/lock.svg" alt="">
                    {{ form.password() }}
                </div>

                {{ form.submit() }}

                {% if type == 'register' %}
                    <p>already have an account? <span><a href="{{ url_for('authentication.home', type='login') }}">log in</a></span> here</p>
                {% elif type == 'login' %}
                    <p>forgot your password? <span><a href="{{ url_for('home.home') }}">reset</a></span> it here</p>
                {% endif %}
            </div>
        </form>
    </div>
</div>