<div id="main-blur">
    <div id="forum">
        <div class="forum-wrapper">
            <div class="forum-columns">
                <p>important</p>
                <p>topics</p>
                <p>comments</p>
                <p>last post</p>
            </div>
    
            <!-- Jinja forloop -->
            <div class="forum-row">
                <div id="forum-col">
                    <p>announcements</p>
                </div>
                
                <div class="topics-col">
                    <p>33</p>
                </div>
    
                <div class="comments-col">
                    <p>247</p>
                </div>
    
                <div class="last-posts-col">
                    <p id="title">warning: phishing and scam alert</p>
                    <p>2024-02-11 21:19:32</p>
                    <p id="author">by <span class="admin">admin</span></p>
                </div>
            </div>
    
            <div class="forum-row">
                <div id="forum-col">
                    <p>updates</p>
                </div>
                
                <div class="topics-col">
                    <p>94</p>
                </div>
    
                <div class="comments-col">
                    <p>0</p>
                </div>
    
                <div class="last-posts-col">
                    <p id="title">update #94: security enhancements</p>
                    <p>2024-02-11 20:32:50</p>
                    <p id="author">by <span class="admin">admin</span></p>
                </div>
            </div>
        </div>
    
        <div class="forum-wrapper">
            <div class="forum-columns">
                <p>important</p>
                <p>topics</p>
                <p>comments</p>
                <p>last post</p>
            </div>
    
            <!-- Jinja forloop -->
            <div class="forum-row">
                <div id="forum-col">
                    <p>announcementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncementsannouncements</p>
                </div>
                
                <div class="topics-col">
                    <p>33</p>
                </div>
    
                <div class="comments-col">
                    <p>241231317</p>
                </div>
    
                <div class="last-posts-col">
                    <p id="title">warning: phishing and scam alertalertalertalertalertalert</p>
                    <p>2024-02-11 21:19:32</p>
                    <p id="author">by <span class="admin">admin</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
