<!-- <div id="main-featured-grid">
    <div id="most-popular">
        <p id="popular-topics">popular topics</p>
        
        <div class="popular-card">
            <i class="fa fa-comments"></i>
            <p>general</p><span>1,337 threads</span>
        </div>

        <div class="popular-card">
            <i class="fa fa-comments"></i>
            <p>off topic</p><span>1,337 threads</span>
        </div>

        <div class="popular-card">
            <i class="fa fa-comments"></i>
            <p>gaming</p><span>1,337 threads</span>
        </div>
    </div>
    <div id="most-recent">
        <p id="recent-threads">recent threads</p>

        <div class="recent-card">
            <p>sorry, it was me.. in <span>general</span></p>
            <div>
                <p>created by</p>
                <img src="../../static/imgs/cole_pfp.jpg" alt=""> 
                <span class="admin">cole</span>
                <p>on 22/10/2024</p>
            </div>
        </div>

        <div class="recent-card">
            <p>sorry, it was me.. in <span>general</span></p>
            <div>
                <p>created by</p>
                <img src="../../static/imgs/cole_pfp.jpg" alt=""> 
                <span class="admin">cole</span>
                <p>on 22/10/2024</p>
            </div>        
        </div>

        <div class="recent-card">
            <p>sorry, it was me.. in <span>general</span></p>
            <div>
                <p>created by</p>
                <img src="../../static/imgs/cole_pfp.jpg" alt=""> 
                <span class="admin">cole</span>
                <p>on 22/10/2024</p>
            </div>        
        </div>
    </div>
</div> -->

<div id="forum">
    <div class="forum-wrapper">
        <div class="forum-columns">
            <p>important</p>
            <p>topics</p>
            <p>comments</p>
            <p>last post</p>
        </div>

        <!-- Jinja forloop -->
        <div class="forum-row">
            <div id="forum-col">
                <p id="title">announcements</p>
                <p id="desc">yo we stole jaydens moms car, free chicken pasta and milk at the crib. only members. stay hydareted real SUNNY out there FR</p>
                <p>subtopics: <span>news</span> | <span>events</span></p>
            </div>
            
            <div class="topics-col">
                <p>33</p>
            </div>

            <div class="comments-col">
                <p>247</p>
            </div>

            <div class="last-posts-col">
                <p id="title">warning: phishing and scam alert</p>
                <p>2024-02-11 21:19:32</p>
                <p id="author">by <span class="admin">admin</span></p>
            </div>
        </div>

        <div class="forum-row">
            <div id="forum-col">
                <p>updates</p>
                <p id="desc">things like when i do ma washing and that.</p>
            </div>
            
            <div class="topics-col">
                <p>94</p>
            </div>

            <div class="comments-col">
                <p>0</p>
            </div>

            <div class="last-posts-col">
                <p id="title">update #94: security enhancements</p>
                <p>2024-02-11 20:32:50</p>
                <p id="author">by <span class="admin">admin</span></p>
            </div>
        </div>
    </div>

    <div class="forum-wrapper">
        <div class="forum-columns">
            <p>important</p>
            <p>topics</p>
            <p>comments</p>
            <p>last post</p>
        </div>

        <!-- Jinja forloop -->
        <div class="forum-row">
            <div id="forum-col">
                <p>off topic</p>
                <p id="desc">EHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHEEHEHEHEHHEHEHEHEHEHEHE</p>
            </div>
            
            <div class="topics-col">
                <p>33</p>
            </div>

            <div class="comments-col">
                <p>241231317</p>
            </div>

            <div class="last-posts-col">
                <p id="title">warning: phishing and scam alertalertalertalertalertalert</p>
                <p>2024-02-11 21:19:32</p>
                <p id="author">by <span class="admin">admin</span></p>
            </div>
        </div>
    </div>
</div>
