<div id="main-featured-grid">
    <div id="most-popular">
        <p>popular topics</p>
        
        <div class="popular-card">
            <i class="fa fa-comments"></i>
            <p>General</p><span>1,337 Threads</span>
        </div>

        <div class="popular-card">
            <i class="fa fa-comments"></i>
            <p>Off Topic</p><span>1,337 Threads</span>
        </div>

        <div class="popular-card">
            <i class="fa fa-comments"></i>
            <p>Gaming</p><span>1,337 Threads</span>
        </div>
    </div>
    <div id="most-recent">
        <p id="recent-threads">recent threads</p>

        <div class="recent-card">
            <p>Sorry, it was me.. in <span>General</span></p><span><i id="recent-pfp" class="fa fa-user"></i>cole &bull; 22/10/2024</span>
        </div>

        <div class="recent-card">
            <p>Sorry, it was me.. in <span>General</span></p><span><i id="recent-pfp" class="fa fa-user"></i>cole &bull; 22/10/2024</span>
        </div>

        <div class="recent-card">
            <p>Sorry, it was me.. in <span>General</span></p><span><i id="recent-pfp" class="fa fa-user"></i>cole &bull; 22/10/2024</span>
        </div>
    </div>
</div>