<div id="privileges">
    <div class="header settings">
        <h3>update</h3>
        <img class="toggleSettingInterface" src="../../../static/imgs/chevron-down.svg" alt="">
    </div>

    <div class="options">
        <div id="password">
            <p>change password</p>
    
            <div id="container">
                <div>
                    <p>current password</p> <input type="password">
                </div>
        
                <div>
                    <p>new password</p> <input type="password">
                </div>
            </div>
            
    
            <button>confirm change</button>
        </div>
    </div>
    


    <div class="header settings">
        <h3>delete</h3>
        <img class="toggleSettingInterface" src="../../../static/imgs/chevron-down.svg" alt="">
    </div>

    <div class="options">
        <div>
            <div id="delete">
                <p>delete comments</p>
                <button>delete all comments</button>
            </div>
    
            <div id="delete">
                <p>delete posts</p>
                <button>delete all posts</button>
            </div>
    
            <div id="delete">
                <p>delete all content</p>
                <button>delete all content</button>
            </div>
    
            <div id="delete">
                <p>delete account</p>
                <button>delete account</button>
            </div>
        </div>
    </div>

    <div class="header settings">
        <h3>archive</h3>
        <img class="toggleSettingInterface" src="../../../static/imgs/chevron-down.svg" alt="">
    </div>

    <div class="options">
        <div>
            <div id="delete">
                <p>archive account</p>
                <button>archive account</button>
            </div>
        </div>
    </div>
</div>