<div id="privileges">
    <div class="header settings">
        <h3>update</h3>
        <img class="toggleSettingInterface" src="../../../static/imgs/chevron-down.svg" alt="">
    </div>

    <div class="options">
        <div id="password">
            <p>change password</p>
    
            <div id="container">
                <div>
                    <p>current password</p> <input type="password">
                </div>
        
                <div>
                    <p>new password</p> <input type="password">
                </div>
            </div>
            
    
            <button>confirm change</button>
        </div>
    </div>
    


    <div class="header settings">
        <h3>delete</h3>
        <img class="toggleSettingInterface" src="../../../static/imgs/chevron-down.svg" alt="">
    </div>

    <div class="options">
        <div id="password">
            <p>delete comments</p>
            <button>delete all comments</button>
        </div>
    </div>

    <p>delete comments</p>
    <p>delete posts</p>
    <p>delete all content</p>
    <p>delete account</p>

</div>