<div id="thread">
    <div class="header">
        <div id="info">
            <h3>{{ thread.title }}</h3>
        </div>
        
        <div>
            <img src="../../../static/imgs/cole_pfp.jpg" alt="">
            <div>
                <!-- Todo: change class to potential superuser title -->
                <p>created by <span class="admin"><a href="">{{ thread.owner.username }}</a></span></p>
                <p>on {{ thread.format_time_created }}</p>
            </div>
        </div>
    </div>
    
    <div class="header">
        <div id="post-grid">
            <div class="info">
                <div>
                    <p>{{ thread.owner.username }}</p>
                    <p><span class="admin">admin</span></p>
                    <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                
                    <p id="small">8 threads</p>
                    <p id="small">3 comments</p>
                </div>
            </div>
            <div class="content">
                <p>this post is stupid XDD</p>
            </div>
        </div>
        <div class="signature">
            big whales and stuzz
        </div>
    </div>

    {% for comment in comments %}
        <div class="header">
            <div id="post-grid">
                <div class="info">
                    <div>
                        <p>{{ comment.owner.username }}</p>
                        <p><span class="admin">admin</span></p>
                        <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                    
                        <p id="small">8 threads</p>
                        <p id="small">3 comments</p>
                    </div>
                </div>

                <div class="content">
                    <p>{{ comment.content }}</p>
                </div>
            </div>

            <div class="signature">
                big whales and stuzz
            </div>
        </div>
    {% endfor %}


    <!-- <div id="table">
        <div id="forum">
            {% for thread in threads %}
                <div class="thread">
                    <a href="{{ url_for('thread_view.view', thread_id=thread.id, topic=topic._title) }}" style="text-decoration: none; color: black;">
                        <div class="information">
                            <p>{{ thread.title }}</p>
                            <p>by <span class="{{ thread.owner.title }}">{{ thread.owner.username }}</span>, {{ thread.time_created }}</p>
                        </div>
                    </a>
                    <div class="statistics">
                        <p>{{ thread.comment_count }}</p>
                        <p>0 views</p>
                    </div>
                    <div class="author">
                        <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                        <div>
                            <p class="admin">{{ thread.owner.username }}</p>
                            <p>{{ thread.time_created }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> -->

        <!-- <div id="wrapper">
            <div id="pagination">
                <div>&lt;</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>&gt;</div>
            </div>

            <div id="filter">Sort</div>
        </div> -->
    </div>
</div>