<div id="topic">
    <div class="header">
        <h3>announcements</h3>
        <p>important information regarding your mothers pregnancy</p>
    </div>
    
    <div id="table">
        <div id="wrapper">
            <div id="pagination">
                <div>&lt;</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>&gt;</div>
            </div>

            <div id="filter">Sort</div>
        </div>
        
        <div id="forum">
            <div class="thread">
                <div class="information">
                    <p>Test thread</p>
                    <p>by <span class="admin">cole</span>, may 1, 2024</p>
                </div>
                <div class="statistics">
                    <p>0 comments</p>
                    <p>0 views</p>
                </div>
                <div class="author">
                    <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                    <div>
                        <p class="admin">cole123</p>
                        <p>may 4, 2024</p>
                    </div>
                </div>
            </div>
    
            <div class="thread">
                <div class="information">
                    <p>Test thread</p>
                    <p>by <span class="admin">cole</span>, may 1, 2024</p>
                </div>
                <div class="statistics">
                    <p>0 comments</p>
                    <p>0 views</p>
                </div>
                <div class="author">
                    <img src="../../../static/imgs/cole_pfp.jpg" alt="">
                    <div>
                        <p>test</p>
                        <p>may 4, 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>