<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>forum. | {% block title %}home{% endblock %}</title>

    <link rel="icon" href="../static/imgs/favicon (2).ico">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/main-styles.css">
    <link rel="stylesheet" href="../static/css/auth-styles.css">
    <link rel="stylesheet" href="../static/css/user-styles.css">
    <link rel="stylesheet" href="../static/css/topic-styles.css">
    <link rel="stylesheet" href="../static/css/thread-styles.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% include 'includes/scripts.html' %}

</head>

<body>
    {% include 'includes/header.html' %}
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    {% include 'includes/footer.html' %}
</body>
</html>
